body {
background-image: url(https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg);
min-width: 1200px;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.container{
min-width: 900px;
min-height: 700px;
margin: 30px;
}

.block-slider {
position: relative;
}

.photographer {
display: flex;
position: absolute;
left: 50%;
transform: translate(-50%, -50%);
font-size: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
}

.pexels {
position: absolute;
right: 0%;
margin: 20px;
font-size: 17px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
cursor: pointer;
}

.block-controls {
position: relative;
display: flex;
justify-content: center;
}

.image {
border-radius: 25px;
box-shadow: 0 10px 20px rgba(0,0,0, .25);
z-index: 60;
}

.slide{
opacity: 0;
transition-duration: 1s ease;
}

.slide.active {
opacity: 1;
transition-duration: 1s;
transform: scale(1.08);
}

.right-arrow {
position: absolute; 
top: 50%;
right: -110px;
font-size: 3rem;
color: #000;
z-index: 10;
cursor: pointer;
user-select: none;
}

.right-arrow:hover {
transform: scale(1.1);
}

.right-arrow:active {
transform: scale(0.9);
}

.left-arrow {
position: absolute; 
top: 50%;
left: -110px;
font-size: 3rem;
color: #000;
z-index: 10;
cursor: pointer;
user-select: none;
}

.left-arrow:hover {
transform: scale(1.1);
}

.left-arrow:active {
transform: scale(0.9);
}

.input {
border: none;
border-bottom: 3px solid rgb(0, 0, 0);
opacity: 0.7;
text-align: center;
margin: 15px;
font-size: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
height: 40px;
width: 400px;
position: static; 
box-shadow: 0 10px 20px rgba(0,0,0, .7)
}

.input:hover {
transform: scale(1.1);
}

.Spinner {
margin-top: 250px;
margin-left: 170px;
margin-right: 170px;
margin-bottom: 247px;
transform: scale(2);
z-index: 50;
}

.error {
position: absolute;
text-align: center;
border: none;
top: 15%;
margin-left: 415px;
padding: 15px;
width: 120px;
height: 21px;
border-radius: 10px;
color: black;
background: linear-gradient(45deg, #CD5C5C, #FF0000);
/* background: linear-gradient(45deg, #FE6B8B, #FF8F53); */
font-weight: 'bold';
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
z-index: 100;
}

.error:hover {
transform: scale(1.5);
border-radius: 50px;
}

.checkBoxBlock {
margin-top: 50px;
justify-content: center;
display: flex;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type=checkbox]{
height: 0;
width: 0;
}

label {
cursor: pointer;
text-indent: -9999px;
width: 200px;
height: 100px;
background: #9F0013;
display: block;
border-radius: 100px;
position: relative;
transform: scale(0.45);
box-shadow: 0 10px 20px rgba(0,0,0, .25);
}

label:after {
content: '';
position: absolute;
top: 5px;
left: 5px;
width: 90px;
height: 90px;
background: #fff;
border-radius: 90px;
transition: 0.3s;
}

input:checked + label {
background: green;
}

input:checked + label:after {
left: calc(100% - 5px);
transform: translateX(-100%);
}

label:active:after {
width: 130px;
}

.container-dots {
position: absolute;
bottom: 10px;
left: 50%;
transform: translateX(-50%);
display: flex;
}

.dot {
width: 20px;
height: 20px;
border-radius: 50%;
border: 3px solid #f1f1f1;
margin: 0 5px;
background: #f1f1f1;
cursor: pointer;
}

.dot.dotActive {
background: #9F0013;
}