@import url(normalize.css);

$main-color: #8d0515;

body {
  background-image: url(https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: grid;
    grid-template-rows: 1fr 70px 100px;
    max-width: 1200px;
    max-height: 800px;
    margin: 100px;
    grid-template-areas:
      "slider"
      "checkBox"
      "controls";

    .slider {
      grid-area: slider;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 500px;
      width: 100%;
      overflow: hidden;
      margin-bottom: 20px;
      border-radius: 25px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);

      &__arrows {
        position: absolute;
        width: 50px;
        height: 50px;
        cursor: pointer;
        top: 45%;
        color: $main-color;
        &--right {
          right: 20px;
        }
        &--left {
          left: 20px;
        }
      }
      &__spinner {
        transform: scale(1.5);
      }

      &__slide {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;

        &--active {
          opacity: 1;
          transition-duration: 0.5s;
          transform: scale(1.01);
        }

        > p {
          // photogapher
          position: absolute;
          top: 5%;
          left: 4%;
          text-align: center;
          color: $main-color;
          font-weight: bold;
        }

        > a {
          // Photos provided by Pexels
          position: absolute;
          top: 5%;
          right: 4%;
          font-weight: bold;
          color: azure;
          cursor: pointer;
        }

        &__image {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        &__dots {
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          &--dot {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 3px solid #f1f1f1;
            margin: 0 5px;
            background: #f1f1f1;
            cursor: pointer;
          }
          &--dotActive {
            background-color: $main-color;
          }
        }
      }
    }

    .checkBox {
      grid-area: checkBox;
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        height: 0;
        width: 0;
      }

      label {
        cursor: pointer;
        text-indent: -9999px;
        width: 200px;
        height: 100px;
        background: $main-color;
        display: block;
        border-radius: 100px;
        position: relative;
        transform: scale(0.45);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
        transition: background-color 0.3s;

        &:after {
          content: "";
          position: absolute;
          top: 5px;
          left: 5px;
          width: 90px;
          height: 90px;
          background: #fff;
          border-radius: 100px;
          transition: 0.3s;
        }
      }

      input:checked + label {
        background-color: green;
      }

      input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
      }

      label:active:after {
        width: 130px;
      }
    }

    .controls {
      grid-area: controls;
      display: flex;
      justify-content: center;

      &__row {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        input {
          border: none;
          border-bottom: 3px solid rgb(0, 0, 0);
          opacity: 0.7;
          text-align: center;
          margin: 15px;
          font-size: 20px;
          height: 40px;
          width: 400px;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          &:hover {
            transform: scale(1.05);
          }
        }

        &__error {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          left: 44%;
          top: 20%;
          text-align: center;
          border: none;
          width: 120px;
          height: 65px;
          z-index: 10;
          border-radius: 10px;
          color: white;
          background-color: $main-color;
          user-select: none;
          &:hover {
            transform: scale(1.3);
            border-radius: 50px;
          }
        }

        &__button {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 100px;
          background-color: $main-color;
          color: azure;
          font-size: 18px;
          border-radius: 10px;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          cursor: pointer;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
