@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

$main-color: #8d0515;
$main-white: lighten($main-color, 69%);

body {
  background-image: url(https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: grid;
    grid-template-rows: 1fr 70px 100px;
    max-width: 1200px;
    max-height: 800px;
    margin: 100px;
    grid-template-areas:
      "slider"
      "checkBox"
      "controls";

    .slider {
      grid-area: slider;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 500px;
      width: 100%;
      overflow: hidden;
      margin-bottom: 20px;
      border-radius: 25px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);

      &__arrows {
        position: absolute;
        width: 100px;
        height: 100%;
        cursor: pointer;
        color: $main-color;
        &--right {
          right: 10px;
        }
        &--left {
          left: 10px;
        }
      }
      &__spinner {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        &--spin {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          border: 3px solid transparent;
          border-top-color: $main-white;
          animation: spin 0.8s linear infinite;
        }
        @keyframes spin {
          to {
            transform: rotate(360deg);
          }
        }
      }

      &__slide {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        &__image {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        &--active {
          opacity: 1;
        }

        > p {
          // photogapher
          position: absolute;
          top: 3%;
          left: 2%;
          color: $main-color;
          font-weight: bold;
        }

        > a {
          // Photos provided by Pexels
          position: absolute;
          top: 3%;
          right: 2%;
          font-weight: bold;
          color: $main-color;
          cursor: pointer;
        }

        &__dots {
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          &--dot {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 3px solid $main-white;
            margin: 0 5px;
            background: $main-white;
            cursor: pointer;
          }
          &--dotActive {
            background-color: $main-color;
          }
        }
      }
    }

    .checkBox {
      grid-area: checkBox;
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        height: 0;
        width: 0;
      }

      label {
        cursor: pointer;
        text-indent: -9999px;
        width: 200px;
        height: 100px;
        background: $main-color;
        display: block;
        border-radius: 100px;
        position: relative;
        transform: scale(0.45);
        box-shadow: inset 0px 0px 20px 5px darken($main-color, 10%);
        transition: background-color 0.3s;

        &:after {
          content: "";
          position: absolute;
          top: 5px;
          left: 5px;
          width: 90px;
          height: 90px;
          background: $main-white;
          border-radius: 100px;
          transition: 0.3s;
        }
      }

      input:checked + label {
        background-color: green;
      }

      input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
      }

      label:active:after {
        width: 130px;
      }
    }

    .controls {
      grid-area: controls;
      display: flex;
      justify-content: center;

      &__row {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        input {
          border: none;
          border-bottom: 3px solid rgb(0, 0, 0);
          opacity: 0.7;
          text-align: center;
          margin: 15px;
          font-size: 20px;
          font-family: "Poppins", sans-serif;
          font-weight: bold;
          letter-spacing: 3px;
          height: 40px;
          width: 400px;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          &:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
          }
        }

        &__error {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          left: 44%;
          top: 25%;
          text-align: center;
          border: none;
          width: 110px;
          height: 50px;
          font-family: "Oswald", sans-serif;
          letter-spacing: 1px;
          font-size: 18px;
          border-radius: 10px;
          color: $main-white;
          background-color: $main-color;
          user-select: none;
          z-index: 10;
          &:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease;
          }

          &--left:before,
          &--right:before {
            content: "";
            position: absolute;
            top: 0;
            width: 1px;
            height: 1px;
            border-style: solid;
            border-color: transparent;
            border-width: 25px 35px;
            z-index: 9;
          }

          &--left:before {
            left: -65px;
            border-right-color: $main-color;
          }

          &--right:before {
            right: -65px;
            border-left-color: $main-color;
          }
        }
        &__button {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 100px;
          background-color: $main-color;
          color: $main-white;
          font-family: "Poppins", sans-serif;
          font-weight: bold;
          letter-spacing: 1px;
          font-size: 18px;
          border-radius: 10px;
          box-shadow: inset 0px 0px 20px 5px darken($main-color, 10%);
          cursor: pointer;
          &:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: inset 0px 0px 20px 5px darken($main-color, 10%),
              0 5px 10px rgba(0, 0, 0, 0.5);
          }
          &:active {
            background-color: darken($main-color, 5%);
          }
        }
      }
    }
  }
}
