@use "../../style/variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.forms {
  display: flex;

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: row;
    @media (max-width: 1000px) {
      flex-direction: column;
      width: 280px;
    }
  }

  &__submitContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 160px;
  }

  &__wrap {
    position: relative;
  }
  &__input {
    border: none;
    border-bottom: 3px solid rgb(0, 0, 0);
    opacity: 0.7;
    text-align: center;
    margin: 15px 0;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    height: 40px;
    width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &::placeholder {
      color: #999;
      font-style: italic;
      text-transform: none;
    }
    @media (max-width: 1000px) {
      width: 100%;
    }
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    }
  }

  &__error {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    width: 125px;
    height: 40px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    border-radius: 10px;
    color: lighten($theme-color, 69%);
    background-color: $theme-color;
    user-select: none;
    z-index: 2;
    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
    }
    &--left:before,
    &--right:before {
      content: "";
      position: absolute;
      width: 1px;
      height: 1px;
      border-style: solid;
      border-color: transparent;
      border-width: 20px 35px;
      z-index: 2;
    }
    &--left:before {
      left: -65px;
      border-right-color: $theme-color;
      @media (max-width: 1000px) {
        top: -40px;
        left: 0;
        border-width: 20px 60px;
        border-right-color: transparent;
        border-bottom-color: $theme-color;
      }
    }
    &--right:before {
      right: -65px;
      border-left-color: $theme-color;
      @media (max-width: 1000px) {
        right: 0;
        bottom: -40px;
        border-width: 20px 60px;
        border-left-color: transparent;
        border-top-color: $theme-color;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 110px;
    background-color: $theme-color;
    color: lighten($theme-color, 69%);
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px 5px darken($theme-color, 10%);
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      box-shadow: inset 0px 0px 20px 5px darken($theme-color, 10%),
        0 5px 10px rgba(0, 0, 0, 0.5);
    }
    &:active {
      background-color: darken($theme-color, 5%);
    }
  }
}
